@use "src/styles/variables";

.project-card {
  position: relative;

  height: 24em;
  margin-bottom: 4em;

  img {
    max-height: 100%;
  }
}

.project-card-left {
  direction: ltr;
  right: 0;

  .card-info {
    right: 0;

    & > * {
      text-align: right;
    }
  }

  .card-about-container {
    svg {
      left: 1em;
    }
  }
}

.project-card-right {
  direction: rtl;

  .card-info {
    left: 0;

    & > * {
      text-align: left;
    }
  }

  .card-about-container {
    svg {
      right: 1em;
    }
  }
}

.card-info {
  position: absolute;
  top: 20%;
  width: 50%;
}

.card-header {
  margin-bottom: 1em;

  font-size: 1.7rem;
  .github-link {
    display: inline-block;
    margin-inline-end: 1em;

    color: var(--color-main-assents);

    transform: translateY(0.1em);
  }
}

.card-about-container {
  position: relative;

  .card-about {
    position: relative;
    z-index: 10;
    background-color: var(--color-main-sec);
    padding-block: 2em;
    padding-inline: 0.5em;
    height: 8em;
  }

  & .after {
    content: "";
    display: block;
    background-color: var(--color-main-assents);
    position: absolute;

    height: 100%;
    width: 100%;

    top: 0.7em;
    left: 0.7em;

    z-index: 5;
  }

  svg {
    position: absolute;
    top: -0.5em;
    z-index: 20;
  }
}

.used-teq-container {
  display: flex;
  gap: 1em;

  justify-content: end;

  padding-top: 3em;

  & > * {
    font-size: 2em;
  }
}

@media (max-width: variables.$bp-sm) {
  .project-card {
    font-size: 0.4rem;
  }
}
@media (min-width: variables.$bp-sm) {
}
@media (min-width: variables.$bp-md) {
}
@media (min-width: variables.$bp-lg) {
}
@media (min-width: variables.$bp-xl) {
}
@media (min-width: variables.$bp-xxl) {
}
