.land-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: max(100vh, 500px);

  padding-top: 3em;

  background: linear-gradient(66.27deg, #2f6690 1.25%, #3c5098 71.06%, #2f6690 88.52%);
  color: white;

  img {
    width: 13em;
    padding: 1em;
  }

  h1 {
    font-size: 2.6em;
    margin-bottom: 1rem;
  }

  P {
    font-size: 1.5em;
    margin-bottom: 3em;
  }

  span {
    font-weight: bold;
    text-decoration: underline;
  }
}

.contact1 {
  display: block;
  border: none;
  position: relative;

  text-decoration: none;

  padding-inline: 5em;
  padding-block: 0.4em;

  background: var(--color-main-assents);
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 61px;

  font-weight: bold;
  color: white;

  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  z-index: 100;

  cursor: pointer;
}
.contact2 {
  position: absolute;
  font-size: 2em;
  top: 0;
  right: 0;
  color: var(--color-main-assents);
  opacity: 0;

  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  cursor: pointer;
}

.contact-animation {
  $right: 2em;
  $bottom: 13em;

  &-enter {
    transform: translate(calc(-1 * var(--transformX-elem) - $right), calc(var(--transformY-elem) - $bottom));
  }

  &-enter-done {
    transform: translate(0, 0);
    transition: transform 0.5s;
  }

  &-exit {
    position: fixed;
    right: $right;
    bottom: $bottom;
    transform: translate(calc(var(--transformX-elem) + $right), calc(-1 * var(--transformY-elem) + $bottom));
    .contact1 {
      opacity: 0;
      transform-origin: right;
      transform: scaleX(0);
    }
    .contact2 {
      opacity: 1;
    }
  }
  &-exit-done {
    position: fixed;
    right: $right;
    bottom: $bottom;
    transition: transform 0.5s;
    transform: translate(0, 0);
    .contact1 {
      opacity: 0;
      transform-origin: right;
      transform: scaleX(0);
    }
    .contact2 {
      opacity: 1;
    }
  }
}

.lists {
  display: flex;
  top: 0;

  margin: 3em;

  li {
    padding-right: 2.5em;

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    font-size: 2.2rem;

    color: var(--color-main-assents);
  }

  padding: 0;
}

.overlay-contact {
  position: fixed;
  right: 1em;
  bottom: 2em;

  font-size: 2em;

  color: var(--color-main-assents);
  padding: 0;
  margin: 0;

  z-index: 10;

  div[role="button"] {
    cursor: pointer;
  }

  a {
    color: inherit;
  }
}
