@use "src/styles/variables";
.container {
  margin-inline: auto;
  overflow-x: hidden;
}

@media (min-width: variables.$bp-sm) {
  .container {
    padding-inline: 2em;
  }
}
@media (min-width: variables.$bp-lg) {
  .container {
    padding-inline: 4em;
  }
}
@media (min-width: variables.$bp-xl) {
  .container {
    max-width: variables.$bp-xl;
    padding-inline: 12em;
  }
}
@media (min-width: variables.$bp-xxl) {
  .container {
    max-width: variables.$bp-xxl;
  }
}
