.side-nav-appear {
  transform: translate(-100%, -100%);
}
.side-nav-appear-active {
  color: red;
}

.side-nav-appear-done {
  height: 333px;
  transform: translate(-93%, -100%);
}

.side-nav-enter {
  transform: translate(-100%, 0);
}

.side-nav-enter-active {
  transform: translate(-93%, 0);
}
.side-nav-enter-done {
  transform: translate(-93%, 0);
}

.side-nav-exit {
  transform: translate(-100%);
  pointer-events: none;
}

// .side-nav-exit-active {
// }
.side-nav-exit-done {
  transform: translate(-100%);
}
