.container {
  position: fixed;
  background-color: var(--color-main-sec, red);
  top: 0;
  left: 0;
  min-width: 100vw;
  transform: translateY(-95%);
  opacity: 0;

  transition: transform 0.3s, min-width 0.1s, opacity 0.3s;

  pointer-events: none;

  z-index: 1000;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translateX(50px);
    transition: transform 0.3s;
    z-index: -10;
  }

  &:hover {
    transform: translateX(0);

    &::before {
      transform: translateX(0);
    }
  }
}

.container-active {
  height: 100vh;
  min-width: 8em;
  transform: translate(-93%);
  pointer-events: stroke;
  opacity: 1;
}

.navLinks {
  padding: 0.6em;

  li {
    a {
      background-color: var(--color-main-primary);
      display: block;
      padding-block: 0.4em;
      margin: 0.3em 0em;

      color: white;
      text-decoration: none;

      &:hover {
        filter: grayscale(0.5);
      }
    }
  }
}
