@use "src/styles/variables";

$nav-height: 3em;

.container {
  display: flex;
  position: absolute;

  width: 100%;
  align-items: center;
  height: $nav-height;
  padding-inline: 1em;

  opacity: 1;
  transition: opacity 0.5s;

  z-index: 1001;
}

.logo {
  height: 2.2em;
}

.nav-links {
  display: none;
  justify-content: space-between;

  flex-grow: 1;

  padding: 0;
  margin: 0;
  margin-left: 3em;

  li {
    color: white;

    padding-right: 2em;

    &:last-child {
      padding-right: 0;
    }
  }

  .links {
    display: flex;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .overlay-nav-item-origin {
    display: block;

    opacity: 1;

    transition: opacity 1s;
  }
}

.scroll-link {
  cursor: pointer;
}

.link-selected {
  filter: opacity(0.5);
  cursor: default;
}

@media (min-width: variables.$bp-sm) {
  .nav-links {
    display: flex;
  }
}
@media (min-width: variables.$bp-md) {
}
@media (min-width: variables.$bp-lg) {
  .container {
    padding-inline: 12em;
  }
}
@media (min-width: variables.$bp-xl) {
}
@media (min-width: variables.$bp-xxl) {
}
