.static-to-fixed-container {
  --bottom: 2em;
  --right: 2em;
  position: "relative";
  display: grid;
  place-items: center;
  z-index: 8000;
}

.bottom-right {
  &-enter {
    transform: translate(
      calc(-1 * var(--transformX-elem) - var(--right)),
      calc(var(--transformY-elem) - var(--bottom))
    );
  }

  &-enter-done {
    transform: translate(0, 0);

    transition: transform 0.5s;
  }

  &-exit {
    position: fixed;
    right: var(--right);
    bottom: var(--bottom);
    transform: translate(
      calc(var(--transformX-elem) + var(--right)),
      calc(-1 * var(--transformY-elem) + var(--bottom))
    );

    z-index: 9000;
  }
  &-exit-done {
    position: fixed;
    right: var(--right);
    bottom: var(--bottom);
    transition: transform 0.5s;

    transform: translate(0, 0);
    z-index: 9000;
  }
}
