@use "src/styles/variables";

.container {
  position: relative;

  p {
    text-align: center;
    opacity: 0.7;
  }
}

.bgImg {
  position: absolute;
  bottom: 0;

  width: 100%;

  z-index: -1;

  img {
    min-width: 100%;
    // max-height: 18em;
    height: 20em;
  }
}

@media (min-width: variables.$bp-sm) {
  .bgImg {
    img {
      min-width: 100%;
      max-height: 18em;
    }
  }
}
@media (min-width: variables.$bp-md) {
}
@media (min-width: variables.$bp-lg) {
}
@media (min-width: variables.$bp-xl) {
}
@media (min-width: variables.$bp-xxl) {
}
