.container {
  position: relative;

  p {
    text-align: center;
    opacity: 0.7;
  }
}

.bgImg {
  position: absolute;
  bottom: 0;

  width: 100%;

  z-index: -1;

  img {
    min-width: 100%;
  }
}
