@use "src/styles/variables";

.container {
  font-size: 0.7rem;
  margin-inline: auto;
  width: 100%;
}

.content {
  position: relative;
  background: linear-gradient(253.88deg, #17bebb 8.9%, #2dc9bf 31.3%, #17bebb 85.23%);
  // height: 32em;
  border-radius: 1.4em;

  padding-inline: 3em;
  padding-block: 2em;

  transform: translateY(-4em);
}

.screw {
  position: absolute;
  &:first-child {
    top: 1em;
    left: 1em;
  }

  &:nth-child(2) {
    top: 1em;
    right: 1em;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80% auto;

  height: 100%;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-child {
    border-right: 1px solid white;
    padding-bottom: 2em;

    .icon {
      margin-inline: 3em;
    }
  }
  &:nth-child(2) {
    border-left: 1px solid white;
    .icon {
      width: 6em;
    }

    padding-bottom: 2em;
  }

  &:last-child {
    border-top: 2px solid white;
    grid-column: 1 / 3;

    .icon {
      width: 5em;
      margin: 2em;
      margin-bottom: 0.5em;
    }
  }

  .cellHeader {
    margin-bottom: 1em;

    h3 {
      text-align: center;
      color: white;
    }

    .icon {
      margin-bottom: 0;
    }
  }
}

.icon-group {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.icon {
  height: 3em;
  width: 2.8em;
  margin: 1em;
}

@media (min-width: variables.$bp-sm) {
  .container {
    max-width: variables.$bp-sm;
  }
}
@media (min-width: variables.$bp-md) {
  .container {
    max-width: variables.$bp-md;
  }
}
@media (min-width: variables.$bp-lg) {
  .container {
    font-size: 1rem;

    max-width: variables.$bp-lg;
    padding-inline: 10em;
  }
}
@media (min-width: variables.$bp-xl) {
  .container {
    font-size: 1.2rem;

    max-width: variables.$bp-xl;
  }
}
@media (min-width: variables.$bp-xxl) {
  .container {
    font-size: 1.4rem;

    max-width: variables.$bp-xxl;
  }
}
